@import "../../main/colors";
@import "../../main/mixin";
@import '../../main/inputs';
@import '../../main/widths';
@import '../../main/mrg';
@import '../../main/fnsize';
@import '../../main/brdr';


.v-dialog {
    border-radius: 10px !important;
}

.user-opinion {
    font-family: bakhtiari !important;
    direction: rtl;
    line-height: 30px;

    ul {
        list-style-type: none;

        li {
            display: inline-block;
            padding: 0 20px 0 0;

        }
    }

    textarea {
        min-width: 100%;
        background: $light_silver;
        @include border-radius(20px, 20px, 20px, 20px);
        @include padding(3px, 10px, 3px, 10px);
    }


    .btn-order {
        margin: 0px auto;
        border-radius: 15px;
        padding: 4px 0 3px 4px;
        font-size: 18px;
        border: 0;
        text-align: center;
        background-color: #016670;
        color: #FFFFFF !important;
        cursor: pointer;
    }

    .btn-common {
        background-color: $light_silver;
        color: $black;
        margin: 0px auto;
        border-radius: 15px;
        padding: 0px 14px 0px 15px;
        font-size: 18px;
        border: 0;
        text-align: center;
        cursor: pointer;

    }

    .btn-close {
        background-color: #930148;

        margin: 0px auto;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        padding: 5px;
        font-size: 18px;
        border: 0;
        text-align: center;
        cursor: pointer;

        .v-icon {
            color: $white !important;
        }

    }

    sp-title {
        color: #8C8C8C;
    }

    sp-text {
        color: #000 !important;
    }

}

.ublack {
    color: #000000 !important;
}