$green: #016670;
$red: #930148;
$silver: #8C8C8C;
$light_silver: #F2F2F2;
$mid_silver: #E6E5E5;
$background: #F2F2F2;
$white: #FFFFFF;
$black: #000000;
$light_green: #D4E140;
$green_y : #00C753;
$light_red : #FF0000;
$gr_shadow : #E8F1F2;

.brdr-rad-20 {
    border-radius: 20px;
}