.fn-bold {
    font-family: boldbakhtiari !important;
    font-size: 16px;
}

.fn-normal {
    font-family: bakhtiari !important;
    font-size: 16px;
}

.fn-fat {
    font-family: bakhtiari !important;
    font-size: 20px;
}

.fns-14 {
    font-size: 14px !important;
}

.fns-18 {
    font-size: 18px !important;
}

.fns-16 {
    font-size: 16px !important;
}

.fns-20 {
    font-size: 20px !important;
}

.fns-23 {
    font-size: 23px !important;
}


.fns-25 {
    font-size: 25px !important;
}

.fns-30 {
    font-size: 30px !important;
}

.fns-40 {
    font-size: 40px !important;
}

.fns-50 {
    font-size: 50px !important;
}