.mrg-r-100 {
    margin-right: 100px;
}

.mrg-r-10 {
    margin-right: 10px;
}

.mrg-r-20 {
    margin-right: 20px;
}


.mrg-minus-top-80 {
    margin-top: -80px;
}

.mrg-minus-top-70 {
    margin-top: -70px;
}

.mrg-minus-top-60 {
    margin-top: -60px !important;
}

.mrg-minus-top-50 {
    margin-top: -50px !important;
}

.mrg-minus-top-40 {
    margin-top: -40px;
}

.mrg-minus-top-30 {
    margin-top: -30px;
}

.mrg-minus-top-25 {
    margin-top: -25px;
}

.mrg-minus-top-20 {
    margin-top: -20px;
}

.mrg-minus-top-15 {
    margin-top: -15px;
}

.mrg-minus-top-10 {
    margin-top: -10px;
}


.mrg-t-6 {
    margin-top: 6px;
}

.mrg-t-50 {
    margin-top: 50px !important;
}

.mrg-t-70 {
    margin-top: 70px !important;
}

.w-p-90 {
    width: 90%;
}

.w-p-80 {
    width: 80%;
}

.w-p-70 {
    width: 70%;
}
