$green:#016670;
$gray-light:#8c8c8c;
$gray-light1:#f2f2f2;
$gray-light2:#d4d4d4;
$gray-light3:#ddd;
$white:#ffffff;
$light_silver: #F2F2F2;
$red: #930148;
$green-light:#d4e140;
$green-light2:#a8e3e9;
$silver : #8c8c8c;
$black-medium : #212121;
  








.bgcolor-mid-silver { 
  background: $light_silver !important;
}